<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CluckCare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='ico.png') }}" type="image/png">
  </head>
  <body>
    <header class="header">
      {% include 'nav_bar.html' %}
    </header>

    <section class="dis-section">
        <div>
          <div class="img">
            <img src="https://media.tenor.com/Km72PBjDxAYAAAAi/kukuk-chicky.gif" alt="chicken happy image"  />
          </div>
            <h1>✅Happy & Healthy Birdie!✅</h1>
          <p>Want to know your feathered friend is feeling fantastic? Look for these signs:</p> <br>
          
            <li>🐣 <b>Shiny, clean feathers:</b> They preen themselves regularly, so their feathers should look bright and well-kept.</li>
            <li>🐣 <b>Sparkling eyes:</b> Clear, bright eyes are a good sign your chicken is feeling alert and healthy.</li>
            <li>🐣 <b>Full of energy:</b> Happy chicken love to chirp and explore their surroundings.</li>
            <li>🐣 <b>Healthy appetite:</b> Chicken with a good appetite gobble up their food with enthusiasm.</li>
            <li>🐣 <b>Regular droppings:</b> Normal poop is a good indicator of a healthy digestive system. 

          <h1>✅Tips To Keep Them Happy & Safe✅</h1>
          <br>
          
            <li>🐣 <b>Delicious, balanced diet:</b> Provide a variety of foods with essential nutrients to keep them energized.</li>
            <li>🐣 <b>Fresh, clean water:</b> Just like us, chicken need clean water to stay hydrated.</li> 
            <li>🐣 <b>Vet check-ups:</b> Regular vet visits ensure your bird gets the care they need to stay healthy.</li>
            <li>🐣 <b>Clean home:</b> Keep their cage (or living area) clean to prevent any unwanted illnesses.</li>
          
        </div>
      </div>

      

      

    </section>

  </body>
</html>
